[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
captum = ">=0.7"
cmcrameri = ">=1.9"
datasets = "*"
english-words = "*"
geonamescache = "*"
ipykernel = "*"
matplotlib = ">=3.9"
mrmr-selection = "*"
pytrends = "*"
mpltern = "*"
numba = "*"
numpy = ">=2.0"
nnsight = "*"
pandas = ">=2.2"
polars = ">=1.0"
protobuf = "==5.27.2"
pyarrow = "==16.1.0"
pytest = "*"
scikit-learn = "==1.7.2"
scipy = "*"
seaborn = ">=0.13"
spacy = "*"
spacy-transformers = "*"
statsmodels = "*"
torch = "==2.4.1"
transformers = "==4.48.2"
hydra-core = "*"
omegaconf = "*"
namemaker = "*"
inflect = "*"
wordfreq = "*"
misvm = {editable = true, git = "https://github.com/garydoranjr/misvm.git"}

[dev-packages]

[requires]
python_version = "3.12"
